    <header class="header">
        <div>
            <div class="contenido-header">
                <img src="assets/img/logo.webp" alt="Logo">

            </div>

        </div>
    </header>

    <div class="contenedor">
        <nav class="navegacion-principal">
            <a href="#bbb">Bombones</a>
            <a href="#chicle">Chicles</a>
            <a href="#choco">Chocolates</a>
            <a href="#dulce">Dulces</a>
            <a href="#galleta">Galletas</a>
            <a href="#paquete">Paquetes</a>
            <a href="#varios">Varios</a>
            <a href="#tarro">Tarros</a>

        </nav>
    </div>





    <div class="productos">
        <h1>PRODUCTOS</h1>



        <section id="bbb" class="seccion bg-rojo">
            <div id="sub" class="sub">
                <h2>Bombones</h2>
                <div id="page" class="page-content ">
                    <div class="product-container">
                        <h3>Rojo</h3>
                        <img src="assets/img/b12.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>Surtido</h3>
                        <img src="assets/img/b13.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>XL</h3>
                        <img src="assets/img/b1.webp" alt="bombom" />
                    </div>

                    <div class="product-container">
                        <h3>Morazul</h3>
                        <img src="assets/img/b2.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>Barrilete</h3>
                        <img src="assets/img/b3.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>Supercoco</h3>
                        <img src="assets/img/b4.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>Fresitas</h3>
                        <img src="assets/img/b5.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>Pinpop gigante</h3>
                        <img src="assets/img/b6.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>Pirulito</h3>
                        <img src="assets/img/b7.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>Pirulito</h3>
                        <img src="assets/img/b8.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>Ron con pasas</h3>
                        <img src="assets/img/b9.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>XXL</h3>
                        <img src="assets/img/b10.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>Yogueta</h3>
                        <img src="assets/img/b11.webp" alt="bombom" />
                    </div>
                    <div class="product-container">
                        <h3>Yogueta pops</h3>
                        <img src="assets/img/pops.png" alt="bombom" />
                    </div>

                </div>
            </div>
        </section>

        <section id="chicle" class="seccion bg-azul">
            <div class="sub">
                <h2>Chicles</h2>
                <div class="page-content ">

                    <div class="product-container">
                        <h3>Agogo x100</h3>
                        <img src="assets/img/c1.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Bubaloo x60</h3>
                        <img src="assets/img/c2.webp" alt="bombom" />

                    </div>
                    <div class="product-container">
                        <h3>Xtime x100</h3>
                        <img src="assets/img/c3.webp" alt="bombom" />
                    </div>

                    <div class="product-container">
                        <h3>Hiperacido</h3>
                        <img src="assets/img/c4.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Ciclets Peq. x100</h3>
                        <img src="assets/img/c5.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Splot Acido</h3>
                        <img src="assets/img/c6.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Splot Tattoo</h3>
                        <img src="assets/img/c7.webp" alt="bombom" />
                    </div>

                    <div class="product-container">
                        <h3>Trident</h3>
                        <img src="assets/img/c8.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Tumix x300</h3>
                        <img src="assets/img/c9.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Tumix grande x20</h3>
                        <img src="assets/img/c10.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Tumix x100</h3>
                        <img src="assets/img/c11.webp" alt="bombom" />


                    </div>
                </div>
            </div>
        </section>

        <section id="choco" class="seccion bg-rojo">
            <div class="sub">
                <h2>Chocolates</h2>
                <div class="page-content ">

                    <div class="product-container">
                        <h3>Nucita Barquillo</h3>
                        <img src="assets/img/ch1.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Nucita Clasica</h3>
                        <img src="assets/img/ch2.webp" alt="bombom" />

                    </div>
                    <div class="product-container">
                        <h3>Ponky Tira</h3>
                        <img src="assets/img/ch3.webp" alt="bombom" />
                    </div>

                    <div class="product-container">
                        <h3>Ponky Rollo</h3>
                        <img src="assets/img/ch4.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Tabla Fina</h3>
                        <img src="assets/img/ch5.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Nikolo</h3>
                        <img src="assets/img/ch6.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Bianchi Barra x12</h3>
                        <img src="assets/img/ch7.webp" alt="bombom" />
                    </div>

                    <div class="product-container">
                        <h3>Gol Coco</h3>
                        <img src="assets/img/ch8.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Gol Clasico</h3>
                        <img src="assets/img/ch9.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Golpe</h3>
                        <img src="assets/img/ch10.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Jet x50</h3>
                        <img src="assets/img/ch11.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Jet x35</h3>
                        <img src="assets/img/ch12.webp" alt="bombom" />


                    </div>

                    <div class="product-container">
                        <h3>Jumbo mini x24</h3>
                        <img src="assets/img/ch13.webp" alt="bombom" />


                    </div>


                    <div class="product-container">
                        <h3>Jumbo flow</h3>
                        <img src="assets/img/ch14.webp" alt="bombom" />


                    </div>


                    <div class="product-container">
                        <h3>Jumbo flow</h3>
                        <img src="assets/img/jumboflow.jpg" alt="bombom" />
                    </div>

                    <div class="product-container">
                        <h3>Jumbo mix x12</h3>
                        <img src="assets/img/ch15.webp" alt="bombom" />


                    </div>


                    <div class="product-container">
                        <h3>Jumbo x12</h3>
                        <img src="assets/img/ch16.webp" alt="bombom" />


                    </div>


                    <div class="product-container">
                        <h3>Wafer Jet x20</h3>
                        <img src="assets/img/ch17.webp" alt="bombom" />


                    </div>


                    <div class="product-container">
                        <h3>Chocolatina XXL</h3>
                        <img src="assets/img/ch18.webp" alt="bombom" />


                    </div>


                </div>
            </div>
        </section>


        <section id="dulce" class="seccion bg-azul">
            <div class="sub">
                <h2>Dulces</h2>
                <div class="page-content ">

                    <div class="product-container">
                        <h3>Menta Helada</h3>
                        <img src="assets/img/d01.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Menta Surtida</h3>
                        <img src="assets/img/d02.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Aloka2</h3>
                        <img src="assets/img/d1.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Dulce Anisado</h3>
                        <img src="assets/img/d2.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Bananitas</h3>
                        <img src="assets/img/d3.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Barrilete</h3>
                        <img src="assets/img/d4.webp" alt="bombom" />

                    </div>


                    <div class="product-container">
                        <h3>Biagi</h3>
                        <img src="assets/img/d5.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Bianchi</h3>
                        <img src="assets/img/d6.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Bianchi Blanco</h3>
                        <img src="assets/img/d7.webp" alt="bombom" />

                    </div>


                    <div class="product-container">
                        <h3>Big Ben</h3>
                        <img src="assets/img/d8.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Choco Ball</h3>
                        <img src="assets/img/d9.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Fruticas Love</h3>
                        <img src="assets/img/d10.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Dulce Relleno</h3>
                        <img src="assets/img/d11.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Halls Pepa</h3>
                        <img src="assets/img/d12.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Halls Barra</h3>
                        <img src="assets/img/d13.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Lokiño</h3>
                        <img src="assets/img/d14.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>MiniBum</h3>
                        <img src="assets/img/d15.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Pastillitas</h3>
                        <img src="assets/img/d16.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Supercoco</h3>
                        <img src="assets/img/d17.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Sparkies</h3>
                        <img src="assets/img/d18.webp" alt="bombom" />

                    </div>


                </div>
            </div>

        </section>

        <section id="galleta" class="seccion bg-rojo">
            <div class="sub">
                <h2>Galletas</h2>
                <div class="page-content ">

                    <div class="product-container">
                        <h3>Festival 4R</h3>
                        <img src="assets/img/g1.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Brinky</h3>
                        <img src="assets/img/g2.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Bridge</h3>
                        <img src="assets/img/g3.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Capri</h3>
                        <img src="assets/img/g4.webp" alt="bombom" />

                    </div>


                    <div class="product-container">
                        <h3>Saltinas</h3>
                        <img src="assets/img/g5.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Doraditas</h3>
                        <img src="assets/img/g6.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Dux Integral</h3>
                        <img src="assets/img/g7.webp" alt="bombom" />

                    </div>


                    <div class="product-container">
                        <h3>Dux Original</h3>
                        <img src="assets/img/g8.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Festival 6R</h3>
                        <img src="assets/img/g9.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Glacitas</h3>
                        <img src="assets/img/g10.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Hyper Wafer</h3>
                        <img src="assets/img/g11.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Maxcoco</h3>
                        <img src="assets/img/g12.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Minichips</h3>
                        <img src="assets/img/g13.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Muu Leche</h3>
                        <img src="assets/img/g14.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Muu Mantequilla</h3>
                        <img src="assets/img/g15.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Muu Sandwich</h3>
                        <img src="assets/img/g16.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Piazza</h3>
                        <img src="assets/img/g17.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Quimbayas</h3>
                        <img src="assets/img/g18.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Galleta milo</h3>
                        <img src="assets/img/galleta_milo.jpg" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Recreo</h3>
                        <img src="assets/img/g19.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Taco Italo</h3>
                        <img src="assets/img/g20.webp" alt="bombom" />

                    </div>
                    <div class="product-container">
                        <h3>Galleta Leche Noel</h3>
                        <img src="assets/img/g21.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Wafer x18</h3>
                        <img src="assets/img/g22.webp" alt="bombom" />

                    </div>

                </div>
            </div>

        </section>

        <section id="paquete" class="seccion bg-azul">
            <div class="sub">
                <h2>Paquetes</h2>
                <div class="page-content ">

                    <div class="product-container">
                        <h3>Snacky Salado</h3>
                        <img src="assets/img/h1.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Snacky Dulce</h3>
                        <img src="assets/img/h2.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Boliquesos</h3>
                        <img src="assets/img/h3.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Cheesetris Familiar</h3>
                        <img src="assets/img/h4.webp" alt="bombom" />

                    </div>


                    <div class="product-container">
                        <h3>Cheesetris</h3>
                        <img src="assets/img/h5.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Cheetos Picantes</h3>
                        <img src="assets/img/h6.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Cheetos Salados</h3>
                        <img src="assets/img/h7.webp" alt="bombom" />

                    </div>


                    <div class="product-container">
                        <h3>Chicharron</h3>
                        <img src="assets/img/h8.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Choclitos Med</h3>
                        <img src="assets/img/h9.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Choclitos Familiar</h3>
                        <img src="assets/img/h10.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Choclitos Peq</h3>
                        <img src="assets/img/h11.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Palomitas</h3>
                        <img src="assets/img/h12.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Detodito Limon</h3>
                        <img src="assets/img/h13.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Detodito Mix</h3>
                        <img src="assets/img/h14.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Detodito Natural</h3>
                        <img src="assets/img/h15.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Detodito BBQ</h3>
                        <img src="assets/img/h16.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Doritos Familiar</h3>
                        <img src="assets/img/h17.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Doritos</h3>
                        <img src="assets/img/h18.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Gudiz</h3>
                        <img src="assets/img/h19.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Natuchips</h3>
                        <img src="assets/img/h20.webp" alt="bombom" />

                    </div>
                    <div class="product-container">
                        <h3>Papa Natural</h3>
                        <img src="assets/img/h21.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Papa Limón</h3>
                        <img src="assets/img/h22.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Papa Natural</h3>
                        <img src="assets/img/h23.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Papa BBQ</h3>
                        <img src="assets/img/h24.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Papa Pollo</h3>
                        <img src="assets/img/h25.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Popetas</h3>
                        <img src="assets/img/h26.webp" alt="bombom" />

                    </div>


                    <div class="product-container">
                        <h3>Tocinetas</h3>
                        <img src="assets/img/h27.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Trocillos</h3>
                        <img src="assets/img/h28.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Trocipollos</h3>
                        <img src="assets/img/h29.webp" alt="bombom" />

                    </div>
                </div>
            </div>

        </section>

        <section id="varios" class="seccion bg-rojo">
            <div class="sub">
                <h2>Varios</h2>
                <div class="page-content ">
                    <div class="product-container">
                        <h3>Turrones</h3>
                        <img src="assets/img/TURRONES.webp" alt="bombom" />

                    </div>
                    <div class="product-container">
                        <h3>Arequipe</h3>
                        <img src="assets/img/arequipe.jpg" alt="bombom" />

                    </div>
                    <div class="product-container">
                        <h3>Gelatina pata</h3>
                        <img src="assets/img/gelatina_de_pata.jpg" alt="bombom" />

                    </div>
                    <div class="product-container">
                        <h3>Piquitos</h3>
                        <img src="assets/img/piquitos.jpg" alt="bombom" />
                    </div>

                    <div class="product-container">
                        <h3>Masmelo x50</h3>
                        <img src="assets/img/masmelo.jpg" alt="bombom" />
                    </div>

                    <div class="product-container">
                        <h3>Masmelo Trululu</h3>
                        <img src="assets/img/masmelo_trululu.jpg" alt="bombom" />
                    </div>

                    <div class="product-container">
                        <h3>Almendra Grande</h3>
                        <img src="assets/img/m1.webp" alt="bombom" />

                    </div>
                    <div class="product-container">
                        <h3>Almendra Grande</h3>
                        <img src="assets/img/m1.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Almendra Pequeña</h3>
                        <img src="assets/img/m2.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Combinado</h3>
                        <img src="assets/img/m3.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Frunas</h3>
                        <img src="assets/img/m4.webp" alt="bombom" />

                    </div>


                    <div class="product-container">
                        <h3>Herpos</h3>
                        <img src="assets/img/m5.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Bocadillo Lonja</h3>
                        <img src="assets/img/m6.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Polvo en malla</h3>
                        <img src="assets/img/m7.webp" alt="bombom" />

                    </div>


                    <div class="product-container">
                        <h3>Manicrack</h3>
                        <img src="assets/img/m8.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Mani Dulce</h3>
                        <img src="assets/img/m9.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Manicero</h3>
                        <img src="assets/img/m10.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Mani Moto</h3>
                        <img src="assets/img/m11.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Mani La Especial</h3>
                        <img src="assets/img/m12.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Quipitos</h3>
                        <img src="assets/img/m13.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Salchicha Ronda</h3>
                        <img src="assets/img/m14.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Gomas Trululu</h3>
                        <img src="assets/img/m15.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Lecherita</h3>
                        <img src="assets/img/m16.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Bocadillo Veleño</h3>
                        <img src="assets/img/m17.webp" alt="bombom" />

                    </div>

                </div>
            </div>

        </section>

        <section id="tarro" class="seccion bg-azul">
            <div class="sub">
                <h2>En Tarro</h2>
                <div class="page-content ">

                    <div class="product-container">
                        <h3>Almendra Grande</h3>
                        <img src="assets/img/o1.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Almendra Pequeña</h3>
                        <img src="assets/img/o2.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Combinado</h3>
                        <img src="assets/img/o3.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Frunas</h3>
                        <img src="assets/img/o4.webp" alt="bombom" />

                    </div>


                    <div class="product-container">
                        <h3>Herpos</h3>
                        <img src="assets/img/o5.webp" alt="bombom" />

                    </div>

                    <div class="product-container">
                        <h3>Bocadillo Lonja</h3>
                        <img src="assets/img/o6.webp" alt="bombom" />

                    </div>

                </div>
            </div>

        </section>
    </div>

    <script src="/assets/js/bundle.min.js"></script>
    <footer>
        Todos los derechos reservados. Oscar Hincapie.
    </footer>
